* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    width: 100vw;
}

#page-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
}

#home {
    text-decoration: underline;
}

#header-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: 100%;
    background-color: white;
}

#header1 {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.letter {
    font-size: 30px;
    color: black;
    font-weight: 800;
    height: 30px;
    width: 30px;
}

#header2 {
    height: 400px;
    width: 100%;
    background-image: url("./images/unicorn.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2pt solid white;
}

#nav-bar-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar-row li {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-bar-row li:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: red;
}

#logout-link {
    color: white;
    text-decoration: none;
}

#logout-link:hover {
    color: red;
}

#animation-container {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#animation {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/tayla.jpg');
    background-size: 100%;
    
}

#checkbox {
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

#monster-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
    width: 350px;
    border: 3px solid black;
}

.monsters {
    position: relative;
    z-index: -1;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-size: 100px 100px;
}

#monster1 {
    background-image: url('./images/monster1.jpg');
}

#monster2 {
    background-image: url('./images/monster2.jpg');
}

#monster3 {
    background-image: url('./images/monster3.jpg');
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.operator {
    height: auto;
    width: 100px;
    font-size: 20px; 
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#tile-effect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
}

.tiles {
    height: 20px;
    width: 20px;
    margin: 2px;
    background-color: lime;
    border: 1px solid black;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    margin-top: 10px;
}

#gmail-logo {
    background-image: url("/images/gmail.png");
    background-size: 100% 100%;
    cursor: pointer;
    height:70px;
    width:70px;
    margin: 10px;
}

#gmail-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#instagram-logo {
    background-image: url("/images/instagram.png");
    background-size: 100% 100%;
    cursor: pointer;
    height:70px;
    width:70px;
    margin: 10px;
}
#instagram-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#facebook-logo {
    background-image: url("/images/facebook.png");
    background-size: 100% 100%;
    cursor: pointer;
    height:80px;
    width:80px;
    margin: 10px;
}

#facebook-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

 /* this media query is for tablet device display */
 @media screen and (min-width: 541px) and (max-width: 799px) {
    
    #header2 {
        height: 300px
    }

}

/* These media query is for phone device only */
@media screen and (min-width:0px) and (max-width: 540px) {
    
    .letter {
        font-size: 25px;
    }

    #header1 {
        justify-content: center;
    }

    #header2 {
        height: 200px
    }

    #nav-bar {
        padding: 0px;
    }

    #nav-bar-row li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        font-size: 16px;
        font-weight: 100;
    }

    #animation-container {
        height: 200px;
    }

    #animation {
        width: 150px;
        height: 150px;
    }

    #monster-container {
        width: 250px;
        height: 180px;
    }

    .monsters {
        height: 55px;
        width: 55px;
        background-size: 55px 55px;
    }

    #footer {
        height: 80px;
    }

    #gmail-logo {
        height:45px;
        width:45px;
    }
    
    #instagram-logo {
        height:50px;
        width:50px;
    }

    #facebook-logo {
        height:55px;
        width:55px;
    }
}