* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    width: 100vw;
}

#page-container {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 750px;
    margin: auto;
    overflow: hidden;
}

#header-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: 100%;
    background-color: white;
}

#header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.letter {
    font-size: 50px;
    color: black;
    font-weight: 800;
    height: 50px;
    width: 50px;
    margin: 5px;
}

#header2 {
    height: 300px;
    width: 100%;
    background-image: url("./images/unicorn.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-button-div {
    position: absolute;
    z-index: 2;
    top: 410px;
    right: 10px;
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.menu-button-div:hover {
    transform: scale(1.1)
}

#menu-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu-svg {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid rgb(58, 58, 203);
}

.lines {
    stroke: rgb(58, 58, 203);
    stroke-width: 4px;
}

.menu-slide {
    position: absolute;
    z-index: 1;
    top: 400px;
    right: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    background-color: rgb(37, 36, 36);
    transition: all 2s linear;
}

.menu-slide-active {
    right: 0%;
    transition: all 2s linear;
}

.menu {
    height: auto;
    width: 100%;
}

#top-select {
    margin-top: 70px;
}

.select {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    color: rgb(58, 58, 203);
    background-color: transparent;
    font-size: 30px;
    font-weight: 600;
    border: none;
}

.select:hover {
    cursor: pointer;
    color: rgb(183, 179, 179);
    background-color: rgb(60, 59, 59)
}

.outer-page {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 300px;
    border: 5px solid white;
    position: relative;
    overflow: hidden;
}

.slide-box {
    position: absolute;
    left: 0px;
    height: 400px;
    width: 1500px;
    display: inline-flex;
}

.inner-box {
    height: 400px;
    width: 300px;
    position: relative;
    
}

#one {
    background-image: url("/images/tay1.jpeg");
    background-size: cover; 

}

#two {
    background-image: url("/images/tay2.jpeg");
    background-size: cover; 
}

#three {
    background-image: url("/images/tay3.jpeg");
    background-size: cover; 
}

#four {
    background-image: url("/images/tay4.jpeg");
    background-size: cover; 
}

#five {
    background-image: url("/images/tay5.jpeg");
    background-size: cover; 
}

.button-container-left {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%; 
    left: 10px;
}

.button-container-right {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%; 
    right: 10px;
}

.action {
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.action:hover {
    transform: scale(1.2)
}

.svg-box {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.lines-left {
    stroke: white;
    stroke-width: 3px;
}

.lines-right {
    stroke: white;
    stroke-width: 3px;
}

.guage-container {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.marker-div {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.guage-marker {
    display: inline;
    position: relative;
    height: 15px;
    width: 15px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
}

#guageOne {
    background-color: white;
}


#action-container {
    height: auto;
    width: 100%;
    margin-top: 50px;
    display: block;
    text-align: center;
}

#monster-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 250px;
    width: 350px;
    border: 3px solid black;
}

.monsters {
    position: relative;
    z-index: -1;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-size: 100px 100px;
}

#monster1 {
    background-image: url('./images/monster1.jpg');
}

#monster2 {
    background-image: url('./images/monster2.jpg');
}

#monster3 {
    background-image: url('./images/monster3.jpg');
}

#monster-buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.operator {
    height: 50px;
    width: 100px;
    font-size: 20px; 
    margin: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.operator:hover {
    transform: scale(1.1)
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    margin-top: 10px;
}

#gmail-logo {
    background-image: url("/images/gmail.png");
    background-size: 100% 100%;
    cursor: pointer;
    height:70px;
    width:70px;
    margin: 10px;
}

#gmail-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#instagram-logo {
    background-image: url("/images/instagram.png");
    background-size: 100% 100%;
    cursor: pointer;
    height:70px;
    width:70px;
    margin: 10px;
}
#instagram-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#facebook-logo {
    background-image: url("/images/facebook.jpg");
    background-size: 100% 100%;
    cursor: pointer;
    height:70px;
    width:70px;
    margin: 10px;
}

#facebook-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* These media query is for phone device only */
@media screen and (min-width:0px) and (max-width: 750px) {
    
    #page-container {
        width: 100vw;
    }

    .letter {
        font-size: 30px;
        height: 30px;
        width: 30px;
    }

    #header2 {
        height: 200px
    }

    .menu-button-div {
        top: 310px;
        right: 10px;
    }

    .menu-slide {
        top: 300px;
    }

    .select {
            height: 35px;
            font-size: 25px;
            font-weight: 300;
    }

    #monster-container {
        height: 180px;
        width: 250px;
    }

    .monsters {
        height: 55px;
        width: 55px;
        background-size: 55px 55px;
    }

    #footer {
        height: 80px;
    }

    #gmail-logo {
        height: 45px;
        width: 45px;
    }
    
    #instagram-logo {
        height: 45px;
        width: 45px;
    }

    #facebook-logo {
        height: 45px;
        width: 45px;
    }
}